h1= title_history
p The table below shows your recent staging-requests and their progress.

div#job_history
    table#job_table(class="display", cellspacing="0", width="100%")
      thead
        tr
          th
          th ID
          th From
          th To
          th State
          th Progress (%)
